.searchbox {
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    color: #f9004d;
    font-style: italic;
    
}

.h1{
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(../assests/img/pic1.jpeg);
    font-weight: 600;

h2, h3 {
    padding-top: 10px;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    color: #f9004d;
    
}

h4 {
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
    color: #f9004d;
    
}

.container {
    max-width: 1300px;
}

.clearBtn:Hover {
    font-size: 14px;
    color: black;
  }

  .clearBtn {

    background-color: black;
    color: #f9004d;
    opacity: 1;
    font-size: 14px;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
  }

.bg-primary, .input-group {
    margin-bottom: 10px;
    
}

.btn-group-vertical {
    width: 100%;
    display: inline-block;
    
}

.btn-light {
    text-align: left;
    color: #f9004d;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    background-color: black;
}

.uvPadding {
    padding: 5px;
    border-radius: 0.3rem;
    background-color: black;
}

.card-body {
    padding: 0.75rem;
    padding-bottom: 0;
    background-color: black;
    background-image: url(../assests/img/pic1.jpeg);
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
}

#currentWeather {
    border: solid 2px #f9004d;
    border-radius: 0.3rem;
    padding: 15px;
    background-color: black;
    color: #f9004d;
    background-image: url(../assests/img/pic\ 2.jpeg);
    width: fit-content;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
}

#previousSearch {
    border: solid 2px #f9004d;
    margin-bottom: 15px;
    max-height: 408px;
    overflow: auto;
}

/* Media Queries */ 
@media (max-width:768px) {
    #previousSearch {
        max-height: 152px;
    }
}
